[server]
http_addr = 127.0.0.1
http_port = 3000
domain = {{ domain_name }}
root_url = /  # Explicitly set root_url for port mapping setups
# Ensure Grafana listens on localhost and uses the specified domain
